# Eclipse-specific files
.classpath
.project
.settings/

# Compiled Java classes
bin/
target/
*.class

# Package files
*.jar
*.war
*.ear

# virtual machine crash logs, if any
hs_err_pid*

# macOS 
.DS_Store
